<!DOCTYPE html>

<html>

<head>
    <title>Login</title>
    <link rel="icon" href="/img/TaskImage.jpg">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <header>
        <h2>Task Manager App</h2>
        <nav>
            <ul class="nav_links">
                <li><a href="/signup">Register</a></li>
                <li><a href="/users/login">Login</a></li>
            </ul>
        </nav> 
    </header>

    <div class="wrapper">
        <div class="title">
            Login
        </div>
        <div class="form">
            <form id="login-form">
                <div class="input_field"><input type="email" id="email" placeholder="Email" class="input" required></div>
                <div class="input_field"><input type="password" id="password" placeholder="Password" class="input" required></div>
                <div class="btn"><button>Login</button></dev>
            </form>
        </div>
    </div>
    <script src="/js/login.js"></script>
</body>

</html>