<!DOCTYPE html>

<html>

<head>
    <title>Create Task</title>
    <link rel="icon" href="/img/TaskImage.jpg">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <header>
        <h2>Task Manager App</h2>
        <nav>
            <ul class="task_links nav_links">
                <li><a href="/createtask">Add</a></li>
                <li><a href="/viewtasks">View</a></li>
            </ul>
        </nav>
        <nav>
            <ul class="nav_links">
                <li>Choose
                    <ul>
                        <li><a href="/updateprofile">Update Profile</a></li>
                        <li><a href="/logout">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </header>

    <div class="wrapper">
        <div class="title">
            Update your profile
        </div>
        <div class="form">
            <form id="updateprofile">
                <div class="input_field"><input type="text" id="name" placeholder="Full Name" class="input" ></div>
                <div class="input_field"><input type="number" id="age" placeholder="Age" class="input"></div>
                <div class="input_field"><input type="password" id="password" placeholder="Password" class="input"></div>
                <div class="btn"><button>Update</button></dev>
            </form>
        </div>
    </div>
    <script src="/js/updateprofile.js"></script>
</body>

</html>