<footer>
    <p>Created by Gurtej Singh</p>
    <a href="https://www.linkedin.com/in/gurtej-singh-161697176/"><img src="/img/linkedin.png"></a>
    <a href="https://github.com/gurtejsingh57862"><img src="/img/github-sign.png"></a>
</footer>